@import '../../variables';

.about-text-content {
  //border: 1px solid green;
  box-sizing: border-box;
  height: fit-content;
  margin: auto;
  h1 {
    margin: 2rem auto 1rem;
    font-size: 2rem;
    width: fit-content;
    color: $text-dark;
  }
  h2 {
    margin: 0 0 -0.5rem;
  }
  li {
    margin: 0 0 0.5rem 1rem;
  }
  p,
  li {
    font-size: 1.1rem;
  }
  .mercedes-icon {
    font-size: 1.5rem;
    margin: 0 0 -0.5rem;
  }
}

// when screen is largen than 768px
@media (min-width: 768.9px) {
  .about-text-content {
    h1 {
      margin: 1rem 0;
    }
  }
}
