@import '../../variables';

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.navigation-container {
  background-color: $brown;
  height: 5rem;
  width: 100%;
  margin: 0 0 0 0; //put a margon-bottom -1rem for adjusting
  position: relative;
}

// ---------------------------------------------------------

.nav-mobile {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Dropdown Button */
.drop-button {
  box-sizing: border-box;
  position: absolute;
  top: 0rem;
  left: 20px;
  width: 3.1rem;
  min-width: 3.1rem;
  max-width: 3.1rem;
  height: 3.1rem;
  min-height: 3.1rem;
  max-height: 3.1rem;
  background: inherit;
  border: 3px solid $beige;
  border-radius: 0.4rem;
  transition: 0.5s;
  overflow: hidden;
  padding: 0;
  color: $beige;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s linear;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    //background-color: $beige;
    //color: $brown;
    outline: none;
    transition: 0.5s;
  }
}

// ---------------------------------------------------------

button > * {
  pointer-events: none;
}

.button-container {
  height: 50%;
  width: 80%;
  width: 2.2rem;
  height: 1.4rem;
  position: relative;

  .button-line {
    height: 0.2rem;
    width: 100%;
    background-color: $beige;
    border-radius: 10rem;
    position: absolute;
    transition-duration: 0.5s;
  }
  .line1 {
    top: 0;
    left: 0;
  }
  .line2 {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
  .line3 {
    bottom: 0;
    left: 0;
  }
}

.button-in-focus {
  .button-line {
    transition-duration: 0.5s;
  }
  .line1 {
    transform: rotate(45deg) translateY(-50%);
    top: 50%;
    right: 5%;
  }
  .line2 {
    background: transparent;
  }
  .line3 {
    transform: rotate(-45deg) translateY(-50%);
    top: 50%;
    left: 5%;
  }
}

// ---------------------------------------------------------

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  box-sizing: border-box;
  display: none;
  background-color: $brown;
  width: 100%;
  border-bottom: 2px solid $text-light;
  box-shadow: 0 10px 10px 5px #00000050;
  position: absolute;
  top: 4.25rem;
  left: 0;
  transition-duration: 2s;
  z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
  box-sizing: border-box;
  display: block;
  color: $text-light;
  padding: 1rem 0;
  margin: 0;
  font-size: 1.2em;
  height: 3.5rem;
  text-align: center;
  border-top: 2px solid $text-light;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: $nav-accent;
}

.dropdown-content .active {
  //background: #4d2116;
  //font-style: italic;
  font-weight: 900;
  color: $yellow;
}

.show {
  display: block;
}

// ---------------------------------------------------------

.nav-desktop {
  height: inherit;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  a {
    color: $text-light;
    font-weight: 500;
    font-size: 1.3rem;
    border: 2px solid transparent;
    border-radius: 0.2rem;
    padding: 0.7rem 0.5rem 0.5rem 0.5rem;
  }
  a:hover {
    border: 2px solid $text-light;
  }
  .active {
    //border: 1px solid $red;
    //font-style: italic;
    font-weight: 900;
    color: $yellow;
  }
}

// ---------------------------------------------------------

.logo {
  overflow: hidden;
  position: absolute;
  z-index: 999;
  width: 6rem;
  height: 6rem;
  bottom: -3rem;
  right: 1rem;
  top: 2rem;
  border-radius: 50%;
  img {
    transform: rotate(25deg);
    width: 100%;
    height: auto;
    background-size: contain;
  }
}

// ---------------------------------------------------------

// when screen is smaller than 768px
@media (max-width: $screen-breakpoint) {
  .nav-desktop {
    display: none;
  }
}

// when screen is largen than 768px
@media (min-width: $screen-breakpoint) {
  .nav-mobile {
    display: none;
  }

  .logo {
    width: 8rem;
    height: 8rem;
    top: 1rem;
    right: 1rem;
  }
}
