@import '../../variables';

.order-list {
  color: $beige;
}

.order-list-item {
  border: 0px solid red;

  .order-item-first-line {
    display: flex;
    align-items: center;
    margin: 0 0 0.5rem;

    .order-trash-button {
      box-sizing: border-box;
      margin: 0 0.5rem 0 0;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 0.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.2rem;
      .order-trash {
        font-size: 0.8rem;
        color: $beige;
      }

      &:hover {
        border: 1px solid $beige;
        cursor: pointer;
      }

      &:active {
        background-color: $beige;
        .order-trash {
          color: $brown;
        }
      }
    }

    .order-name {
      color: $beige;
    }
  }

  .order-price {
    display: flex;
    justify-content: space-between;
  }
}

.order-line {
  border-bottom: 1px solid $beige;
  width: 100%;
  margin: 0.5rem auto;
}

.order-sum {
  color: $beige;
  text-align: right;
}

.order-copy {
  color: $beige;
  button {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    padding: 0.3rem;
    text-decoration: none;
    border: 1px solid $beige;
    border-radius: 3rem;
    color: $brown;
    background-color: $beige;
    text-align: center;
    width: 100%;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    &:active {
      background-color: $brown;
      color: $beige;
    }
  }
  p {
    margin: 0.5rem 0 0;
  }
}
