$brown: #4d2116;
$brown: #311710;
$brown-dark: #311710;
$green: #8a9a5b;
$green: #82975f;
$green: #777441;
$beige: #fbf1e9;
$beige: #e0cbbc;

$main-background: #eee2c9;
$main-background: #ece5d6;
//$main-background: linear-gradient(180deg, rgba(236, 229, 214, 1) 20%, rgba(203, 197, 184, 1) 100%);

$background: #8c9b8b;
$footer-up: #b1b1a1;
$footer-down: #311710;
$brown: #311710;
$text-dark: #311710;
$text-light: #dfd0c5;
$text-ingredients: #dfd0c5;
$beige: #dfd0c5;
$nav-accent: #881302;
$red: #881302;
$yellow: #f7c379;
$screen-breakpoint: 768.5px;
