// ------------------------------------
$screen-breakpoint: 770px;
// ----
$background: #8c9b8b;
$footer-up: #b1b1a1;
$footer-down: #311710;
$brown: #311710;
$text-dark: #311710;
$text-light: #dfd0c5;
$text-ingredients: #dfd0c5;
$beige: #dfd0c5;
$nav-accent: #5d1509;
$red: #5d1509;
$yellow: #f7c379;
$brown-dark: #25120c;

// ------------------------------------
